body {
    font-family: 'Arial', sans-serif;
    margin: 2px;
}

.body_content { 
    height: 678px;
    width: 1440px;
    gap: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row; */

}

.inner_content {
    display: flex;
    justify-content: center;
    width: 707px;
    height: 578px;
    top: 100px;
    left: 100px;
    gap: 0px;
    flex-direction: column;

}

.auth_section {
    top: 103px;
    left: 930px;
    gap: 32px;
    display: flex;
}