@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.links-innercontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
}

.info, .help, .links, .social {
    flex: 1;
    margin: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

.social_icons li {
    margin: 0 10px;
}

.social_icons a {
    font-size: 1.5em;
    color: #6a1b9a;
    transition: color 0.3s ease;
}

.social_icons a:hover {
    color: #5e1584;
}

.invite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 20px; */

}

.invite input[type="email"] {
    padding: 4px;
    border: 1px solid #671c9c;
    border-radius: 4px 0 0 4px;
    /* margin-right: 10px; */
}

.invite button {
    padding: 5px 10px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.innercontainer2 {
    margin-top: 20px;
    text-align: center;
}

/* Styles for screens with width 1200px or less */
@media (max-width: 1200px) {
    .links-innercontainer {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .info, .help, .links, .social {
        flex: none;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .social_icons {
        justify-content: center;
        margin-top: 20px;
    }

    .invite {
        align-items: center;
        margin-top: 20px;
    }

    .invite input[type="email"], .invite button {
        width: 100%;
        margin: 5px 0;
    }

    .innercontainer2 {
        margin-top: 40px;
        padding: 10px 0;
    }
}
